SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/api/auth/callback
SESSION_PASSWORD=replace_with_at_least_32_random_characters
NEXT_PUBLIC_SOCKET_URL=http://127.0.0.1:4001
SOCKET_PROVIDER_URL=http://127.0.0.1:4001
